.example-card {
  width: 50%;
  height: 50%;
}
.column {
  background-color: aquamarine !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.wrap {
  height: 50%;
}
.avatar {
  margin-left: 10%;
}
.avatar-content {
  text-align: center;
  border-radius: 100%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(127, 140, 141);
  font: 50px Helvetica, Arial, sans-serif !important;
}
.mat-card-header .mat-card-title {
  margin-bottom: 12px;
  margin-left: 130px;
  font-size: 20px;
}
